.notes {
    width: 450px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: lightgray;
}
.note {
    width: 400px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
}
.note p:first-of-type {
    text-align: right;
}
.addNote {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.notes h1 {
    margin-left: 15px;
}
